* {
    box-sizing: border-box;
}

footer {
    color: white;
}

a {
    text-decoration: none;
    color: goldenrod
}

body {
    background-color: rgb(45, 135, 89);
}

h1 {
    text-align: center;
    margin: -4px 0 -4px 0;
}

h3 {
    text-align: center;
    color: white;
}

.show {
    font-size: large;
    color: white;
}

.board-wrapper {
    display: flex;
    justify-content: center;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.board>div {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.rangeslider {
    width: 100%;
    text-align: center;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px
}

footer {
    text-align: center;
}

h1 {
    color: white;
}